body {
	background-color: #171716;
}

h1 {
	color: lightgrey;
	margin-left: 20px;
	font-family: Lucida-Console, Courier, monospace;
}

a {
	color: grey;
	font-family: Lucida-Console, Courier, monospace;
}

p {
	color: lightgrey;
	margin-left: 20px;
	font-family: Lucida-Console, Courier, monospace;
}